@import url(https://fonts.googleapis.com/css?family=Outfit);
body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

.text-1{
    font-family: 'outfit';
    font-weight: bolder;
    font-size: 15px;
    padding-inline: 90px;
}

.text-2{
    font-family: 'outfit'; opacity: 0.6;
    padding-inline: 70px;
    /*font-weight: bold;*/
}

img {
    margin-top: 10px;
    border-radius: 5%;
    height:325px;
    width: 315px;
  }

.qrBg {
    width: 370px;
    height: 500px;
    border: 5px solid;
    border-radius: 25px;
    border-color: white;
    background-color: white;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

